{% load static %} <!-- 添加静态文件加载标签 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>zhouyi</title>

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- 本地样式表 -->
  <link rel="stylesheet" href="{% static 'fate/css/styles.css' %}"> 
</head>
<body>

  <div class="content">
    <!-- 修改所有图片路径 -->
    <img src="{% static 'fate/images/bac 3.png' %}" alt="background" class="back-3">

    <div class="title">
      <h3>The Land of calm</h3>
      <h1>ZHOU</h1>
    </div>

    <img src="{% static 'fate/images/bac 2.2.png' %}" alt="background" class="back-2">
    <img src="{% static 'fate/images/bac 1.png' %}" alt="background" class="back-1">

    <div class="info-wrap">
      <p>
        I'D LIKE TO SHARE SOME OF MY BOUNDLESS ENTHUSIASM....
      </p>
    </div>
    
  </div>
  
</body>
</html>